

.day-cell {
    width: 25%;
    height: 120px;
    border: 1px solid rgb(237, 235, 235);
    text-align: center;
   
  }

  .day-cell:hover{
background-color: rgb(241, 245, 246);
  }
.prevOrNextStyle{
opacity: .4;}
.event{
  text-align: end;
 
  background-color: rgb(204, 248, 255);
  margin: 5px;
  padding-right: 5px;
}

.quarter-of-an-hour{
  height: 10px;
  padding: 0;
  margin: 0;
  position: relative;


}
.quarter-of-an-hour:hover{
  border: 1px solid rgb(217, 220, 224);

}

.hour-cell-wrapper{
          width: 100%;
          border: 1px solid lightgray;
          height: 40px;
          text-align: left;
          font-size: 10px;
          margin: 0 0 0 50px;
          cursor: pointer;
}
.hour-cell-wrapper:hover{
  border: 1px solid rgb(42, 110, 199);
}
.time{
  display: inline;
  position: absolute;
  padding: 0;
  margin-left: -30px;
}
  